.mainCont{
    justify-content: space-between;
    padding: 0 144px 0 144px;
    display: flex;
    flex-direction: row;
    margin-top: 100px;
    gap: 70px;
    background-color: whitesmoke;
}
.logos{
    display: flex;
    flex-direction: row;
    gap: 70px;
}
.rightCont{
    margin-top: 45px;
}

.rightCont>h1{
    font-size: 36px;
}
.rightCont>p{
    font-size: 16px;
}